.form {
	background-color: #473301;
	color: beige;
	padding: 20px;
	margin: auto
}



#form {
	background: #473301;
	margin: auto 70px
}
#form button {
	float: right;
	color: beige;
	background-color: #473301;
	border: 2px solid beige;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
}


.projetos {
	color: #473301
}

.projetos .container {
	padding: 0 15px 0 15px
}


.container {
	padding-bottom: 65px
}
.input {
	background-color: #473301;
	margin: 10px auto;
	line-height: 35px;
	border: 2px solid beige
}

.text {
	background-color: #473301;
	margin: 10px auto;
	border: 2px solid beige
}

footer {
	background-color: #281d01;
	height: 70px
}



